@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;800&display=swap");

$primary: #0ed15f;
$text: #000;
$white: #fff;
$raninbow: rainbow-bg 200s linear infinite;
$radius: 5px;

body {
  font-family: "Nunito", sans-serif;
  color: $text;
}

/* Nav Bar */

.navbar {
  background-color: $primary;
  font-weight: 600;
  .navbar-brand .navbar-item {
    font-family: "Pacifico", cursive;
    font-size: 3em !important;
    // letter-spacing: 3px;
  }
  .navbar-menu .navbar-item {
    border-radius: $radius;
    font-size: 300px;
    &:hover,
    &:focus {
      transition: 0.3s;
      color: $primary !important;
    }
  }
}

/* Image Grid */

.images-grid {
  display: grid;
  grid-row-gap: 2.3em;
  grid-auto-flow: columns;
  grid-column-gap: 66px;
  grid-template-columns: repeat(auto-fill, 270px);
  justify-content: center;
  padding: 3em 0;
}

/* Image */

.image {
  overflow: hidden;
  border-radius: $radius;
}

/* Upload Form*/

.upload {
  border-radius: $radius;
  overflow: hidden;
  .button {
    background-color: $primary;
    color: $white;
  }
  .file {
    .file-cta {
      width: 100% !important;
      display: flex;
      span {
        justify-content: center;
        text-align: center;
      }
    }
  }
  .card-header {
    background-color: $primary;
    .card-header-title {
      color: $white;
      font-size: 2em;
    }
  }
}
